-# Thu 12 Nov 2009
%p
  In a discussion with
  = link_to 'G', 'http://twitter.com/geraudb'
  about new religions the other day, the topic somehow moved to how they are a lot like startups.
  Their advantage is that they are small and agile and can cater to the unhappy
  %q customers
  of the established religions.
  They first target the
  %q earlyvangelists
  who have a strong need and are actively looking for a better product.
  They need to be
  %em aggressive
  to push their product and convert users to their product.

%p
  As in the case of startups, much of the early work is done by the founders in customer development.
  They go out among their customers, from door to door if necessary.
  Unfortunately for religions, they stay in this phase a lot longer than startups.
  Like startups most religions don't make it past this phase and die out at the
  %q small cult
  stage.

%p
  The financial success of these religions depend on their business plan.
  Some of them (like Scientology) go for the early payout, before they even leave the cult stage - milking their locked-in customers for all they're worth at the expense of bad PR.
  But to get big most of them (like the catholic church) adopt a
  %q do no evil
  policy at their advent, and wait till they are established to rake in the moolah.

%p
  And for all the aspiring new religions out there - remember folks, customers are your number one asset. At least till cash is your number one asset.
