-# Fri 30 Oct 2009
%p
  I've read my share of '&hellip; for dummies' books and they're usually a good guide for beginners in many disparate fields. I believe, however, that investment should not be one of those fields. We all spend a good deal of time and effort earning money and saving it. However when it comes to investment, people don't seem too keen to spend time and effort to in protecting their savings. I've picked up this book called '
  %span<>= link_to 'The Intelligent Investor', 'http://en.wikipedia.org/wiki/The_Intelligent_Investor'
  ' that provides rational advice to investment. I think it would be even better named 'The Rational Investor' since actuall intelligence is not required. Much more important is dilligence in fact-checking and courage to ride through the good and bad times.

%p
  This book makes three important distinctions:
  %ul
    %li Price vs. Value
    %li Speculation vs. Investment
    %li Company growth vs. Return on investment
%p
  Each of these distinctions is an important revelation steering the reader away from common mistakes and pitfalls of investment.
