-# Thu 29 Oct 2009
%p One of the perks of being back in San Francisco is that I get to leave home during the day and actually go to work. This also means that I'm now surrounded by co-workers. This leads to a quest to find something to do together, and the answer was simple - Rock Band 2.

.rcol.image
  = image_tag 'http://upload.wikimedia.org/wikipedia/en/f/f0/Rb2-box.JPG', :width => '100%'
  .caption Rock Band 2 is great for get-togethers.

%p Since I'm too poorly co-ordinated to play the instruments, I chose to do vocals. This led to some problems because I don't know any of the songs. And by problem I mean hilarious hi-jinks. It seems impossible to 'die' in the easy mode, which means that when I'm embarrassingly poor, I get a snide compliment like 'strong survivor'.

%p The best thing about Rock Band though, is playing with your friends. Once you get a jam session going on, it can get very addictive. Even not knowing the songs and sucking in general can detract from the fun. It's like karaoke, but more pleasing to the ear. It's also surprising and very satisfying how quickly one can pick up a completely new song.

%p I think the fact that the multiplayer mode of the game is purely co-operative is the greatest strength of this game. It also makes it a great game to have in an office to foster teamwork.
