-# Fri 11 Dec 2009
%p
  There has been a lot of talk recently about the decline and imminent death of test cricket.
  The possible fixes being considered include
  = link_to 'day-night', 'http://www.cricinfo.com/ci-icc/content/story/385068.html'
  tests,
  = link_to 'four-day', 'http://www.cricinfo.com/ci-icc/content/story/411075.html'
  tests,
  = link_to 'day-night three-day', 'http://www.cricinfo.com/magazine/content/story/438201.html'
  tests,
  = link_to 'smaller balls', 'http://www.cricinfo.com/magazine/content/story/436870.html'
  and a whole bunch of other radical changes.
  I think the problem is a lot simpler to fix.
  The biggest threat to test cricket in my opinion is the high scoring draw.
  Nothing is more demoralizing than watching the batsmen pile on the runs and not complete even three innings over five days.
  I suggest that pitches should be designed to produce a result in four days.

%p
  This way, if the both teams bat well, or if a day is lost due to weather, a result is still likely.
  I'm sure a whole lot more people will watch test cricket if it's a fair battle between bat and ball and there is a reasonable guarantee of a result at the end.
  More competitive pitches will also mean that captains will have to think twice before batting first.
  Batsmen with questionable skills will be weeded out and competent bowlers will not be cannon fodder.

%p
  I personally think that the duration of test matches is their strength.
  Five days give a team time to recoup and come back into a match.
  It gives the fielding team time to execute plans B and C if plan A doesn't work.
  Just making test matches more competitive and ensuring a result will go a long way in making them popular again.
