-# Sat 28 Aug 2010
%p
  - saw a documentary about great scientists and mathematicians
  - they did great creative work because they had nothing to do (among other factors)
  - modern life causes input saturation
  - input saturation causes reduction in analysis and deep thought
  - deep thought is required for insight
  - lean forward and lean back are equally bad in this respect
