-# Sat 28 Aug 2010
%p
  - playback from google wave for code, writing and other daily tasks
  - like replays in cricket to improve the process and remove inefficiencies
  - look for patterns of behavior
  - develop theory of intellingent creative process?
